
@{
    ViewBag.Title = "Ürün Listesi";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Ürün Listesi</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="@Url.Action("Create","Product")" class="btn btn-sm btn-outline-warning">Ürün Ekle +</a>
    </div>
</div>

